<html>
<head>
  <title>La Pelicula</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href="/stylesheet.css" type="text/css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Syncopate:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div class="page-header">
  <h1 align="center"><em>El mejor sitio para su información de la película</em></h1>
</div>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a type='submit' class='btn' href="/">Primer Pagina</a></li>
        <li role="presentation"><a type='submit' class='btn' href="/search">Busqueda</a></li>
        <li role="presentation"><a type='submit' class='btn' href="moviesite/favorites">Sus Favoritas</a></li>
     </ul>
      <a class="navbar-brand" href="#">Peliculas Punto Com</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <form role="form" class="results searchform" action="/search" method="get">
        <input type="text" class="form-control text-center" placeholder="nombre de su pelicula" name="pelicula">
        <input type="submit" class="btn"id="exampleInputEmail1" value="Buscar" >
        </form>
          </ul>
        </li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>
<div id="main">




