<% include header %>
<div class="col-md-10 col-md-offset-1 thesearch">
  <div class="panel panel-primary">
    <div class="panel-heading results text-center">
      <h1>Que pelicula estas busando?</h1>
    </div>
  <form role="form" class="results searchform" action="/search" method="get">
  <input type="text" class="form-control text-center" placeholder="nombre de su pelicula" name="pelicula">
  <input type="submit" class="form-control"id="exampleInputEmail1" value="buscar" >
  </form>
  </div>
</div>



<% include footer %>
