body {
  background-image: url('super8.jpg');
  background-size: cover;
  background-position: 50% 8%;
  background-color: gray;

}

img {
  border: solid 2px;
}

.primernav {
  margin-top: 0;
  padding-top: -20;
}

.theinfo {
  font-family: arial;
  text-transform: uppercase;
  font: black;
  font-weight: none;

}

h2 {
  margin-bottom: -25;
}

.btn {
  margin: 10;
}

a {
 color: black;
}

.page-header {
  background-color: rgba(200,200,200,1);
  font-family: Syncopate, arial;
  color: #4E74B5;
  padding-top: .5em;
  margin-top: 0;
}

.results {
  font-size: 24;
  font-weight: normal;
  margin-top: -10;
  padding-top: 10;
}

.searchform {
  padding-top: 10;
}

.thesearch {
  padding-top: ;
}

